<div>
  <md-card>
    <img ng-src="imgs/dice.jpg" class="md-card-image cover-photo">

    <md-card-header md-colors="::{backgroundColor: 'red-900'}">
      <md-card-avatar>
        <img class="profile-pic" src="imgs/profile.jpg">
      </md-card-avatar>

      <md-card-header-text>
        <md-tooltip>Update the profile information using the settings button</md-tooltip>
        <span class="md-headline">{{info.first_name}} {{info.middle_name.charAt(0)}}. {{info.last_name}}</span>
        <span class="md-subhead subhead">{{info.title}}</span>
      </md-card-header-text>
    </md-card-header>
  </md-card>
</div>
