<md-card>
  <md-card-header md-colors="::{backgroundColor: 'grey-900'}">
    <md-card-header-text>
      <h1 class="md-display-1">Details</h1>
    </md-card-header-text>
  </md-card-header>

  <md-card-content>
    <md-list>
      <md-list-item class="md-2-line">
        <div flex="50">
          <div class="md-list-item-text">
            <p md-colors="::{color: 'grey-900'}">Age: {{info.age}}</p>
            <p md-colors="::{color: 'grey-900'}">Location: {{info.location}}</p>
            <p md-colors="::{color: 'grey-900'}">Mobile: {{info.mobile}}</p>
            <p md-colors="::{color: 'grey-900'}">Email: {{info.email}}</p>
          </div>
        </div>
        <div flex="50">
          <div class="md-list-item-text">
            <p md-colors="::{color: 'grey-900'}">Course: {{info.course}}</p>
            <p md-colors="::{color: 'grey-900'}">Height: {{info.height}}"</p>
            <p md-colors="::{color: 'grey-900'}">Weight: {{info.weight}}</p>
            <p md-colors="::{color: 'grey-900'}">Religion: {{info.religion}}</p>
          </div>
        </div>
        <div class="md-list-item-text">


        </div>

      </md-list-item>
    </md-list>
  </md-card-content>

  <md-divider></md-divider>


  <md-card-footer>
    <md-grid-list md-cols="3" md-gutter="10em" md-row-height="4:3" md-colors="::{color: 'red-A700'}">
      <md-grid-tile>
        <md-button ng-href="{{social.facebook}}" target="_blank">
          <md-tooltip>Facebook</md-tooltip>
          <i class="fa fa-4x fa-facebook-square"></i>
        </md-button>
      </md-grid-tile>

      <md-grid-tile>
        <md-button ng-href="{{social.github}}" target="_blank">
          <md-tooltip>Github</md-tooltip>
          <i class="fa fa-4x fa-github-alt"></i>
        </md-button>
      </md-grid-tile>

      <md-grid-tile>
        <md-button ng-href="{{social.codepen}}" target="_blank">
          <md-tooltip>Codepen</md-tooltip>
          <i class="fa fa-4x fa-codepen"></i>
        </md-button>
      </md-grid-tile>

    </md-grid-list>
  </md-card-footer>
</md-card>

<md-card>
  <md-card-header md-colors="::{backgroundColor: 'red-900'}">
    <md-card-header-text>
      <h1 class="md-display-1">Educational Background</h1>
    </md-card-header-text>
  </md-card-header>

  <md-card-content ng-controller="workCtrl">
    <md-list>
        <div class="md-list-item-text" flex>
          <md-card>
            <md-card-title>
              <md-card-avatar>
                <img class="seal" src="imgs/lspu_logo.png">
              </md-card-avatar>
              <md-card-title-text md-colors="::{color: 'grey-900'}">
                <span class="md-headline school-name">{{college.school}}</span>
                <span class="sub-school-name">{{college.location}}</span>
                <span class="sub-school-name">S.Y.{{college.period}}</span>
              </md-card-title-text>
            </md-card-title>
          </md-card>

          <md-card>
            <md-card-title>
              <md-card-avatar>
                <img class="seal" src="imgs/LClogo.png">
              </md-card-avatar>
              <md-card-title-text md-colors="::{color: 'grey-900'}">
                <span class="md-headline school-name">{{hs.school}}</span>
                <span class="sub-school-name">{{hs.location}}</span>
                <span class="sub-school-name">S.Y.{{hs.period}}</span>
              </md-card-title-text>
            </md-card-title>
          </md-card>

          <md-card>
            <md-card-title>
              <md-card-avatar>
                <img class="seal" src="imgs/central.png">
              </md-card-avatar>
              <md-card-title-text md-colors="::{color: 'grey-900'}">
                <span class="md-headline school-name">{{elem.school}}</span>
                <span class="sub-school-name">{{elem.location}}</span>
                <span class="sub-school-name">S.Y.{{elem.period}}</span>
              </md-card-title-text>
            </md-card-title>
          </md-card>
        </div>
    </md-list>
  </md-card-content>
